{% extends "esqueleto.html" %}

{% block contenido %}

<script>
        function check(){
            if(Form.edComentario.value.trim().length  == 0 || Form.edComentario.value.length > 300){
                alert("Introduce un comentario válido (menos de 300 caracteres)");
                return false;
            }
        }
</script>

    <form id="Form" class="Form" method="post" action="/comentarios/add?id={{pelicula.key.urlsafe()}}" onsubmit="return check()">
        <legend>Nuevo comentario sobre {{ pelicula.titulo }}</legend>
        <p><b><label for="edComentario">Comentario</label></b>
        <textarea id="edComentario" name="edComentario"
               rows="7" cols="60" placeholder="Escribe un breve comentario"></textarea></p>

        <button type="submit" name="action" value="Añadir" class="anadir">Añadir</button>
    </form>
{% endblock %}