{% extends "esqueleto.html" %}

{% block contenido %}

     <div class="show-half">
            <table class="showU" style="margin-left: 30%;">
                <tr><th class="title" colspan="4">Detalles de la pelicula</tr>
                <tr>
                    <th>Titulo</th>
                    <td>{{pelicula.titulo}}</td>
                </tr>
                <tr>
                    <th>Año</th>
                    <td>{{pelicula.anho}}</td>
                </tr>
                <tr>
                    <th>Pais</th>
                    <td>{{pelicula.pais}}</td>
                </tr>
                <tr>
                    <th>Director</th>
                    <td>{{pelicula.director}}</td>
                </tr>
                <tr>
                    <th>Resumen</th>
                    <td><textarea rows="7" cols="60">{{pelicula.resumen}}</textarea></td>
                </tr>
                {% if pelicula.portada != None %}
                <tr>
                    <th>Portada</th>
                    <td><img class="portadaShowCurrent" src="data:image/png;base64,{{pelicula.portada.encode('base64')}}"></td>
                </tr>
                {% else %}
                <tr>
                    <th>Portada</th>
                    <td><img class="portadaShowCurrent" src="img/juego.jpg"></td>
                </tr>
                {% endif %}
			</table>

        </div>

{% endblock %}
</head>
<body>

</body>
</html>