{% extends "esqueleto.html" %}

{% block contenido %}

<script>
        function check(){
            if(Form.edNota.value == ""){
                alert("Introduce una nota");
                return false;
            }
        }
</script>

      {% if puntuaciones.count() > 0 %}
      <ul>
        <h1 style="text-align: center">Puntuaciones sobre {{ pelicula.titulo }}</h1>
          <img style="margin: auto; display: block" class="portadaShowCurrent" src="data:image/png;base64,{{pelicula.portada.encode('base64')}}">
        <h2 style="margin: auto; display: block; text-align: center; padding-top: 15px;"> Nota media {{media}}</h2>
          {% for i in puntuaciones %}

          <li>Puntuacion de <b>{{ i.login }}</b></li>
          <ul><b>{{ i.nota }}</b></ul>
        {% endfor %}
      </ul>
      {% else %}
      <p><b>No hay puntuacion todavia.</b></p>
      {% endif %}

<form id="Form" class="Form" method="post" action="/puntuacion/showall?id={{pelicula.key.urlsafe()}}" onsubmit="return check()">
        <label for="edNota">Tu voto</label>
        <select name="edNota" id="edNota">

            <option value="" {% if nota_user == -1 %} selected {% endif %}>No has votado esta pelicula</option>
            <option value="0.0" {% if puntuaciones.nota == 0 %} selected {% endif %}>0</option>
            <option value="1.0" {% if puntuaciones.nota == 1 %} selected {% endif %}>1</option>
            <option value="2.0" {% if puntuaciones.nota == 2 %} selected {% endif %}>2</option>
            <option value="3.0" {% if puntuaciones.nota == 3 %} selected {% endif %}>3</option>
            <option value="4.0" {% if puntuaciones.nota == 4 %} selected {% endif %}>4</option>
            <option value="5.0" {% if puntuaciones.nota == 5 %} selected {% endif %}>5</option>
            <option value="6.0" {% if puntuaciones.nota == 6 %} selected {% endif %}>6</option>
            <option value="7.0" {% if puntuaciones.nota == 7 %} selected {% endif %}>7</option>
            <option value="8.0" {% if puntuaciones.nota == 8 %} selected {% endif %}>8</option>
            <option value="9.0" {% if puntuaciones.nota == 9 %} selected {% endif %}>9</option>
            <option value="10.0" {% if puntuaciones.nota == 10 %} selected {% endif %}>10</option>

        </select>
    <br><br>
        <input type="submit" value="Puntuar">
    </form>
{% endblock %}